/* Projects.module.css */

.Projects {
  padding: 40px 20px;
  text-align: center;
  background-color: var(--primary-background-color);
}

.projectsTitle {
  font-size: 2rem;
  color: var(--primary-brand);
  margin-bottom: 40px;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  /* Center align grid items horizontally */
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .Projects {
    padding: 30px 15px;
    /* Adjust padding for smaller screens */
  }
  .projectsTitle {
    font-size: 1.75rem;
    /* Slightly smaller title for better fit */
  }
  .projectCards {
    grid-template-columns: 1fr;
    gap: 15px;
    /* Adjust gap for smaller screens */
  }
}

@media (max-width: 480px) {
  .Projects {
    /* min-height: 500px; */
    padding: 20px 10px;
    /* Further reduced padding for very small screens */
  }
  .projectsTitle {
    font-size: 1.5rem;
    /* Further reduced title size */
  }
  .projectCards {
    /* height: 100%; */
    gap: 10px;
    /* Adjust gap for very small screens */
  }
}
