.Projects {
  min-height: 100vh;
  max-width: 100vw;
  padding: 40px 20px;
  text-align: center;
  background-color: var(--primary-background-color);
}

.projectsTitle {
  font-size: 4rem;
  color: var(--primary-brand);
  margin-bottom: 40px;
}

.projectCards {
  /* max-width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  place-items: center;
  align-items: start;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .Projects {
    padding: 30px 15px;
  }
  .projectsTitle {
    font-size: 2.5rem;
  }
  .projectCards {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .Projects {
    padding: 20px 10px;
  }
  .projectsTitle {
    font-size: 2rem;
  }
  .projectCards {
    gap: 10px;
  }
}
