/* .Education {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 40px;
  background-color: var(--primary-background-color);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
} */

.title {
  font-size: 2.5rem;
  color: var(--primary-brand);
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.timeline {
  position: relative;
  padding: 10px 0;
  margin: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 4px;
  background-color: var(--primary-brand);
}

.timelineItem {
  position: relative;
  margin-bottom: 40px;
  width: 50%;
  text-align: left;
}

.timelineItem.left {
  left: 0;
  transform: translateX(-50%);
  text-align: right;
}

.timelineItem.right {
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
}

.timelineDot {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-brand);
}

/* Education.module.css */

.timelineEndMessage {
  text-align: center;
  margin: 40px 0;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  font-weight: bold;
}

@media (max-width: 768px) {
  .Education {
    padding: 20px;
  }
  .title {
    font-size: 2rem;
  }
  .timelineItem {
    width: 100%;
    text-align: center;
  }
  .timelineItem.left,
  .timelineItem.right {
    left: 50%;
    transform: translateX(-50%);
  }
  .institution {
    font-size: 1.3rem;
  }
  .degree,
  .duration,
  .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .institution {
    font-size: 1.1rem;
  }
  .degree,
  .duration,
  .description {
    font-size: 0.8rem;
  }
}
