.Education {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 60px;
  min-height: 100vh;
  /* padding-bottom: 100px; */
  /* background-color: var(--primary-background-color); */
  border-radius: 12px;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
  position: relative;
}

.title {
  font-size: 4rem;
  color: var(--primary-brand);
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.timeline {
  position: relative;
  padding: 10px 0;
  margin: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 4px;
  background-color: var(--primary-brand);
}

.timelineItem {
  position: relative;
  margin-bottom: 40px;
  width: 50%;
  text-align: left;
}

.timelineItem.left {
  left: 0;
  transform: translateX(-50%);
  text-align: right;
}

.timelineItem.right {
  left: 55%;
  transform: translateX(-50%);
  text-align: left;
}

/* Education.module.css */

/* Existing styles */

.timelineEnd {
  position: absolute;
  color: var(--primary-brand);
  /* top: 0; */
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-brand);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* Ensure it appears above other elements */
}

.endText {
  font-size: 1.2rem;
  /* color: var(--primary-brand); */
  font-weight: bold;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .Education {
    padding: 20px;
  }
  .title {
    font-size: 2rem;
  }
  .timeline {
    padding: 0;
  }
  .timelineItem {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    /* Increased margin to avoid overlap */
  }
  .timelineItem.left,
  .timelineItem.right {
    left: 0;
    transform: none;
  }
  .institution {
    font-size: 1.3rem;
  }
  .degree,
  .duration,
  .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .timelineEnd {
    width: 45px;
    height: 45px;
    bottom: -40px;
    /* Adjusted to avoid overlap */
  }
  .institution {
    font-size: 1.1rem;
  }
  .degree,
  .duration,
  .description {
    font-size: 0.8rem;
  }
}
