.ProjectsCard {
  width: 350px;
  height: 350px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: var(--primary-background-color);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.projectInner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.ProjectsCard:hover .projectInner {
  transform: translateZ(30px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: filter 0.3s ease;
}

.ProjectsCard:hover .projectImage {
  filter: blur(5px);
}

.projectInfo {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--primary-background-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ProjectsCard:hover .projectInfo {
  opacity: 1;
}

.projectTitle {
  font-size: 1.5rem;
  margin: 10px 0;
}

.projectDescription {
  color: var(--primary-background-color);
  font-size: 1rem;
  padding-right: 20px;
  /* margin: 10px; */
  text-align: left;
}

.techStack {
  margin: 10px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.techStackItem {
  border: 2px solid var(--primary-brand);
  color: var(--primary-brand);
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.projectLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.projectLink {
  color: var(--primary-brand);
  text-decoration: none;
  border: 1px solid var(--primary-brand);
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.projectLink:hover {
  background-color: var(--primary-brand);
  color: var(--primary-background-color);
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .ProjectsCard {
    width: 90%;
    height: auto;
    padding: 10px;
  }
  .projectInner {
    height: auto;
  }
  .projectImage {
    height: 150px;
  }
  .projectTitle {
    font-size: 1.25rem;
  }
  .projectDescription {
    font-size: 0.9rem;
  }
  .techStackItem {
    font-size: 0.8rem;
  }
  .projectLinks {
    flex-direction: column;
    gap: 5px;
  }
  .projectLink {
    padding: 5px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .ProjectsCard {
    width: 100%;
    height: 400px;
    padding: 5px;
  }
  .projectImage {
    height: 120px;
  }
  .projectTitle {
    font-size: 1rem;
  }
  .projectDescription {
    font-size: 0.8rem;
  }
  .techStackItem {
    font-size: 0.75rem;
  }
  .projectLinks {
    flex-direction: column;
    gap: 3px;
  }
  .projectLink {
    padding: 4px;
    font-size: 0.8rem;
  }
}
