/* About.module.css */

.About {
  width: 100%;
  max-width: 800px;
  padding: 40px;
  background-color: var(--primary-background-color);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  padding: 0 20px;
  /* Ensure padding is applied for better mobile view */
}

.title {
  font-size: 2.5rem;
  color: var(--primary-brand);
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--primary-text-color);
  text-align: justify;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .About {
    padding: 20px;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .About {
    max-width: 300px;
    padding: 20px;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .content {
    padding: 0 10px;
    /* Further reduce padding for smaller screens */
  }
}
