.image-card {
  position: absolute;
  background-color: #e5e7eb;
  /* Neutral 200 */
  padding: 0.25rem;
  /* p-1 */
  padding-bottom: 1rem;
  /* pb-4 */
  transition: transform 0.2s;
  min-height: 300px;
}

.image-card:hover {
  transform: scale(1.1);
}

.image-card:active {
  transform: scale(0.95);
}
